[Unit]
Description=Terraria Server: %i
After=network.target

[Service]
Type=forking
User=terraria
Group=terraria
ExecStart=/usr/bin/terraria-server start %i
ExecStop=/usr/bin/terraria-server stop %i
# Don't stop process automatically, but still send SIGKILL after a timeout
KillMode=control-group
KillSignal=SIGCONT
SendSIGKILL=yes

[Install]
WantedBy=multi-user.target
